<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um exemplo de pagina HTML5">
    <link rel="icon" href="../assets/pet.png">
    <link rel="stylesheet" href="../css/cachorros.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>Cachorros</title>
</head>
<body>
    <h1>Cachorros</h1>
        <div class="container">
            <header>
                <nav class="nav_home">
                    <ul>
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="cachorros.html">Cachorros</a></li>
                        <li><a href="gatos.html">Gatos</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </header>
            <h1>Bem-vindo aos doguinhos</h1>
            <br>
            <section>
                <p>Hoje temos muitos animais procurando um lar e vc pode ser o proximo filizardo!!!</p>
            </section>
                    <hr>
                <section>
                            <div class="IMG_home">
                                <img src="../assets/clinica.jpg" alt="Clínica" class="IMG_cli">
                            </div>
                        <br>
                </section>
                    <section>
                        <hr>
                        <h1>Pets recém chegados</h1>
                        <div class="IMG_home">
                            <div class="card">
                                <img src="../assets/cachorro1.png" alt="Cachorros" class="IMG_tec">
                            </div>
                            <div class="card">
                                <img src="../assets/cachorro2.png" alt="Cachorros" class="IMG_tec">
                            </div>
                            <div class="card">
                                <img src="../assets/cachorro3.png" alt="Cachorros" class="IMG_tec">
                            </div>
                        </div>
                    </section>
            
            <footer>
                <p>Criado por Augusto Farias &copy</p>
            </footer>
        </div>
</body>
</html>