<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Projetos usando Linguagem de programação no IFPR colombo">
    <link rel="icon" href="../assets/pet.png">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>Contatos</title>
</head>
<body>
    <h1>Contato</h1>
    <div class="container">
        <header>
            <nav class="nav_home">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="cachorros.html">Cachorros</a></li>
                    <li><a href="gatos.html">Gatos</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <p>Para qualquer dúvida, entrar em contato com as seguintes plataformas:</p>
            <ul>
                <li><a href="https://www.facebook.com" target="_blank"><img src="../assets/facebook.png" alt="Facebook logo"></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><img src="../assets/instagram.jpeg" alt="Instagram logo"></a></li>
                <li><a href="mailto:secretaria.colombo@ifpr.edu.br"><img src="../assets/Gmail.png" alt="Email logo"></a></li>
                <li><a href="tel:+5541999999999"><img src="../assets/telefone.png" alt="Telefone logo"></a></li>
            </ul>
            <div class="mini_jogo">
                <video width="100%" height="auto" autoplay muted loop>
                    <source src="../assets/video/cachorro_video.mp4" type="video/mp4">
                </video>
            </div>
        </section>
        <footer>
            <p>Criado por Augusto Farias &copy</p>
        </footer>
    </div>
</body>
</html>
