<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Projetos usando Linguagem de programação no IFPR colombo">
    <link rel="icon" href="../assets/favicon.ico">
    <link rel="stylesheet" href="../css/projeto.css">
    <link rel="stylesheet" href="../css/nav.css">
    <title>Projetos</title>
</head>
<body>
    <h1>Projetos</h1>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="projeto.htm">Projetos</a></li>
                        <li><a href="material.html">Material</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </header>
                <section>
                    <h2>Projetos de Programação</h2>
                    <div class="container">
                            <ul>
                                <li>
                                    <h3>Projeto Java</h3>
                                        <p>Descrição breve do projeto e suas funcionalidades.</p>
                                        <img src="../assets/Java_Projeto.jpg" alt="">
                                </li>
                                 <li>
                                    <h3>Projeto C#</h3>
                                        <p>Descrição breve do projeto e suas funcionalidades.</p>
                                        <img src="../assets/Csharp_Projeto.jpg" alt="">
                                </li>
                                <li>
                                    <h3>Projeto PHP</h3>
                                        <p>Descrição breve do projeto e suas funcionalidades.</p>
                                        <img src="../assets/PHP_Projeto.jpg" alt="">
                                </li>
                                <li>
                                    <h3>Projeto Javascript</h3>
                                        <p>Descrição breve do projeto e suas funcionalidades.</p>
                                        <img src="../assets/Javascript_Projeto.jpg" alt="">
                                </li>
                            </ul>
                    </div>
                    
                    <video width="320" height="240" controls>
                        <source src="../assets/video/Video_tecnologia.mp4" type="video/mp4">
                      </video>
                </section>
            <footer>
                <p>Alguma coisa no footer</p>
            </footer>
        </div>
</body>
</html>